.pac-item,
.pac-item-query {
    color: #adb5bd;
}

.pac-item:hover {
    background-color: #5f6a74;
}

.pac-container {
    background-color: #2b3035;
    z-index: 1050;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #4a525b;
}

input[type=range]::-moz-range-track {
    background: #4a525b;
}

input[type=range]::-ms-track {
    background: #4a525b;
}

#searchFilters{
    max-height: 85vh;
    overflow: auto;
}